@import '~antd/dist/antd.css';

.ant-layout {
  min-height: 100vh;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
  color: white;
}

.trigger:hover {
  color: black;
}

.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
.ant-layout-header {
  background:#0ba55f ;
  /* background:lightseagreen ; */
  padding: 0px ;
}

/* ----------------  Menu -------------------   */
.ant-layout-sider {
  background: gray;
}

.ant-menu-dark, 
.ant-menu-sub {
background: gray;
}

/* .ant-menu-item {
  color: black !important;
} */

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: black;
}

.ant-menu-item.ant-menu-item-active.ant-menu-item-selected {
  background: rgb(3d, 3d, 3d);
}
/* ---------------------------- Button -------------------------------------- */
.ant-btn{
  margin: 1px;
}


/* ----------------------------  Div Form   --------------------------------- */
.SearchProject-form {
  width: 70%;
  margin: auto;

}