@import '~antd/dist/antd.css';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-color : whitesmoke;
}

.hr{
border: rgb(52, 105, 160);
}

.ant-layout {
  min-height: 90.5vh;
}

.trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.trigger:hover {
  color: #1890ff;
}

.logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}
.ant-layout-header {
  background:rgb(52, 105, 160);
  padding: 0px ;
}

/* ----------------  Menu -------------------   */
.ant-layout-sider {
  background: gray;
}

.ant-menu-dark, 
.ant-menu-sub {
background: gray;
}

/* .ant-menu-item {
  color: black !important;
} */

.ant-menu.ant-menu-dark .ant-menu-item-selected, .ant-menu-submenu-popup.ant-menu-dark .ant-menu-item-selected {
  background: black;
}

.ant-menu-item.ant-menu-item-active.ant-menu-item-selected {
  background: rgb(63, 63, 63);
}

/* ----------------------------  Div Form   --------------------------------- */
.SearchProject-form {
  width: 70%;
  margin: auto;

}

.ant-card-body {
    /* background: rgb(227, 236, 245); */
    width: 100%;
    /* height: 300px; */
}