
.ant-card {
    background: right;
    border: 0px;
}
.ant-card-body {
    width: 100%;
    box-shadow: 0px 1px 3px -1px;
    margin-bottom: 10px;
    background: white;
}
.ant-card-body:hover{
    box-shadow: 1px 1px 1px -1px;
}


.ant-layout-content{
  background: right;
  margin: "0px";
  padding-left: 20px;
  padding-right: 20px
}
.ant-modal-header{
 background: lightseagreen;
 /* background: #0ba55f; */
}
.ant-modal-title{
     color: white; 
}